* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.mainbox {
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
}

.mainbox>img {
	width: 100%;
	height: 100%;
	border: 0px;
}

.hear {
	width: 100%;
	height: 520px;
	background: url("https://ccdn.goodq.top/caches/b18d463ab761d9369e21aaf6ec1c2764/aHR0cHM6Ly81ZDBjNzNmODdkMzc4LnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDYvOWVmNGI2ZWIxMDQ0NTIyY2ZkNDQ5NGE3YzgwNmMyYjQuanBn.jpg");
	background-size: 100% 100%;
}

.hear-bg {
	width: 100%;
	height: 70px;
}

.wrap {
	height: 77px;
	padding: 0 40px;
	margin: 0 auto;
}

.table {
	display: table;
	margin: 0 auto;
	width: 100%;
	max-width: 1190px;
	height: 78px;
	min-height: 78px;
}

.logo {
	width: 300px;
	height: 77px;
	padding: 10px 0;
}

.nav {
	height: 77px;
	padding: 10px 0;
	float: right;
}

.nav ul li {
	float: left;
	line-height: 35px;
	padding: 10px 20px;

}

.nav ul li a {
	color: #FFFFFF;
	font-weight: bold;
}

.inner {
	height: 138px;
	padding: 20px;
}

.qing {
	width: 200px;
	text-align: center;
	margin: 0 auto;
	margin-top: 120px;
	font-family: 微软雅黑;
	font-size: 40px;
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
}

.qfe {
	height: 33px;
	position: relative;
}

.qfe div {
	width: 992px;
	position: absolute;
	top: 30px;
	left: 50%;
	margin-left: -496px;
}

.qfe span {
	float: left;
	display: inline-block;
	width: 304px;
	height: 2px;
	background: #00B7FF;
	margin: 10px 20px;
}

.qfe p {
	float: left;
}

.section {
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
}

.sec-two {
	width: 100%;
	height: 426px;
	background: #FFFFFF;
}

.sec-three {
	margin: 0 40px;
}

.sec-left {
	margin-top: 120px;
	width: 50%;
	float: left;
}

.sec-left p {
	width: 450px;
	font-size: 13px;
	font-family: 微软雅黑;
	line-height: 30px;
}

.sec-right {
	width: 50%;
	float: right;
	position: relative;
}

.sec-img {
	position: absolute;
	top: 120px;
	width: 160px;
	height: 160px;
	background: url('05.jpg');
	background-size: 100% 80%;
	background-repeat: no-repeat;
}

.sec-txt {
	width: 350px;
	margin-left: 40px;
	padding-bottom: 30px;
	position: absolute;
	left: 160px;
	top: 120px;
	border-bottom: 1px solid silver;
}

.sec-txt2 {
	width: 350px;
	margin-left: 40px;
	position: absolute;
	line-height: 30px;
	left: 160px;
	top: 240px;
}

.sec-txt p {
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	color: #13304a;
	padding: 0 0 20px 0;
	display: block;
}

.sec-txt span {
	font-size: 16px;
	font-weight: normal;
	color: #13304a;
	display: block;
	padding: 2px;
	vertical-align: bottom;
}

.sec-txt2 p {
	font-size: 12px;
	font-weight: normal;
	color: #13304a;
	display: block;
	padding: 2px;
	vertical-align: bottom;
}

.section-bg {
	height: 358px;
}
.g-content{
	display: flex;
	padding: 100px 30px;
}
.g-content div{
	flex: 1;
	/* text-align: center; */
	font-size: 12px;
	padding: 10px 20px;
	line-height: 30px;
	font-family: 微软雅黑;
	color: rgb(89, 110, 128);
}
.g-two{
	height: 584px;
}
.g-two-le h2{
	font-family: fcea314a0565f9154615a7f0dcd04362e;
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
	color: #13304a;
}
.g-two-le div span{
	display: inline-block;
	font-size: 14px;
	color: #596e80;
	vertical-align: bottom;
	margin: 20px 0;
}










.bottom{
	height: 321px;
	background-color: #13304a;
	display: flex;
}
.site{
	height:55px ;
	background:#13304a ;
}
.bottom div{
	flex: 1;
	font-size: 12px;
	color: #FFFFFF;
}
.bottom div h2{
	font-family: Oswald;
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
}
.bottom div div{
	line-height: 30px;
	color: rgb(204, 218, 225);
}
.bot-three ul{
	height: 64px;
}
.bot-three ul li{
	float: left;
	width: 64px;
	height: 64px;
	background: url('https://fast.qifeiye.com/FeiEditor/images/icon/social_icon_64x64.png');
}
.bot-three ul li:nth-of-type(1){
	background-position:-320px 0;
}
.bot-three ul li:nth-of-type(2){
	background-position:-384px 0;
}
.bot-three ul li:nth-of-type(3){
	background-position:-64px 0;
}



