*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.box{
	width: 1208px;
	height: 735px;
	margin:30px auto;
	margin-top: 30px;

}
.left{
	width: 228px;
	height: 36px;
	padding-left: 20px;
	background: #8d9095;
	color: #fff;
	line-height: 36px;
	font-size: 14px;
	float: left;
}
.right{
	width: 888px;
	/*height: 733px;*/
	float: right;
	
}
.right-top{
	width: 838px;
	height: 733px;
	padding-left: 25px;
	padding-right: 25px;
	border: 1px solid #CCCCCC;
}
.aa{
	width: 828px;
	height: 63px;
	margin-top:18px;
	border-bottom:1px dashed #000;
	margin-bottom: 30px;
}
.aa h3{
	margin: 0;
	margin-bottom: 10px;
	
}
.aa p{
	font-size: 14px;
	color: #757171;
}
.bb{
	width: 828px;
	height: 72px;
	margin-bottom: 24px;
}
.bb p{
	font-size: 14px;
	line-height: 1;
	margin-bottom: 9px;
	float: left;
	height: 24px;
	width: 400px;
}
.bb .p{
	float: right;
}

.cc{
	width: 828px;
	height: 500px;
}
.cc ul{
	width: 828px;
	margin-bottom: 24px;
}
.cc ul>p{
	font-size: 18px;
	margin-bottom: 9px;
}
.cc ul>li{
	font-size: 16px;
	color: #757171;
}
.cc .one{
	height: 56px;
}
.cc .two{
	height: 159px;
}
.cc .three{
	height: 168px;
	border-bottom:1px dashed #CCCCCC;
}
.shen{
	width: 142px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	color: #FFFFFF;
	background-color: rgb(220, 14, 133);
}

